* {
    margin: 0;
}


body {
    background: #ccc;
    text-shadow: 0 1px 0 #000;
    background-color: lightblue;
    color: #000;
    max-width: 1200px;
    margin: 0 auto;
    font-family: sans-serif;
    font-size: 0.875em;
    font-style: italic;
    line-height: 1.6em;
    text-align: center
}

header {
    background-image: url("../img/ban.jpg");
    background-position: center center;
    background-size: cover;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20%;
     
    
}

section {
    background-color: #808000;
    height: 150px;
     margin-top: -30px;
}

section ul {
    height: 200px;
    display: block;
    color: #008000;
    text-align: center;
    text-decoration: underline;
     
}

article p {
    padding: 10px;
     color: #007000;
    
}

nav ul { 
    
    list-style-type: none;
    list-style-position: inside;
    margin: 0;
    padding: 10px; 

}



aside  {
    background-position: center center;
    background-size: cover;
    height: 250;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 20%;
    border: 5px solid #777; /* Рамка вокруг фотографии */
    padding: 15px; /* Расстояние от картинки до рамки */
    background: #666; /* Цвет фона */
    margin-right: 0px; /* Отступ справа */
    margin-bottom: 20px; /* Отступ снизу */
    }
 
   
footer {
    text-align: left ;
    background-color: orange;
    height: 300px;
    margin-right: 0px; /* Отступ справа */
    margin-bottom: 10px; /* Отступ снизу */
    margin-top: -25px;
}


